.introduction {
	display: flex;
	margin-left: auto;
	margin-right: auto;

}

.bildruta {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 3rem;
}

.textruta {
	padding-left: 24px;
	padding-right: 24px;
	text-align: left;
	padding-top: 3rem;
	font-size: 20px;
	margin-right: 20px;
}

div > .bild {
	width: 50%;
}

h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.text-muted {
	color: #757575
}

@media (min-width: 768px){
	.bildruta {
    	width: 50%;
	}
	.textruta {
		width: 50%;
	}
}

@media (max-width: 768px){
	.bildruta {
    	width: 100%;
    	padding: 0;
	}
	.textruta {
		width: 100%;
		padding-top: 0;
	}
	.introduction {
		flex-wrap: wrap;
	}
}

@media (min-width: 576px) {
  .container-main {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-main {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-main {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-main {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-main {
    max-width: 1320px;
  }
}
