.sticky {
  position: sticky;
  top: 0;
  width: 100%;

}

nav {
  background-color: #757575;
}

li {
  padding: 20px;
}

.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 1.5em;
}

a {
  color: #e0e0e0;
  text-decoration: none;
}