.test {
	height: 100vh;
	position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

#intro {
	background-image: url('../../test.jpg');
	margin-top: -64px;
}

.mask {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.35);
}

.container {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.text {
	color: white;
}